@model System.Collections.Generic.List<CamhsFinal.Models.Episode>

<!DOCTYPE html>

<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Name</h2>
        <br />

        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Referral.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.Referral.Content)</td>
                    <td><a asp-action="MDT" asp-route-id="@item.ReferralID">MDT</a></td>
                </tr>
            }

        </table>

       
        <input type="button" value="Add new Referral" onclick="location.href = '@Url.Action("newReferral", "Episodes", new {id=@Convert.ToInt32(ViewBag.ClientID)})'" class="btn btn-primary" />

    </div>
</body>
</html>